<main>
  <h1>DR Podcast Spejl</h1>

  <p>Danmarks Radio har valgt begrænse adgangen til deres podcasts fra tredje-parts apps.</p>

  <p>Denne service udstiller de serier der er tilgængelige på DR lyd som et RSS feed.</p>

  <input autoFocus type="search" placeholder="De lovl…" />
  <ol class="podcasts">
    <%= render @podcasts %>
  </ol>

  <%= form_with url: pulls_path do |form| %>
    <%= form.submit "Update" %>
  <% end %>
</main>
